body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Prompt', 'Roboto', sans-serif;
    color: black;
    background: linear-gradient(#A9CFD2, #D8F0F5) no-repeat;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
