
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Prompt', 'Roboto', sans-serif;
    color: black;
    /*background: linear-gradient(@color-first-linear, @color-second-linear);*/
    background: #d5d5d5;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}
